# ---------------[ Unity generated ]------------------ #
/client/Temp
/client/obj
/client/UnityGenerated
/client/Library
/client/Assets/Textures
/client/Assets/Models
/client/Assets/Fonts
/client/Assets/NGUI
//clientAssets/*.meta
/client/Assets/Scenes
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.user
*.opensdf
*.sdf
*.user
*.unityproj
*.booproj
*.exp
*.idb
*.ilk
*.exe
*.pdb

[Dd]ebug/
[Rr]elease/
x64/

# Xcode and OS X 
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
contents.xcworkspacedata
Debug/
Release/
.DS_Store
.Trashes

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

/Jackie-csharp.opensdf
/Jackie-csharp.sdf
